.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
